version: "3.0"

volumes:
  prometheus_data: {}
  grafana_data: {}

networks:
  front-tier:
  back-tier:


services:
  cisco_router:
    image: snmp_simulator:latest
    networks:
      - back-tier
    volumes:
      - ./snmp_simulator/data/snmpwalk_cisco_c2801:/app/snmpwalk
    restart: always
  palo_alto:
    image: snmp_simulator:latest
    networks:
      - back-tier
    volumes:
      - ./snmp_simulator/data/snmpwalk_paloalto:/app/snmpwalk
    restart: always
  telegraf:
    image: telegraf:latest
    restart: always
    container_name: telegraf
    hostname: telegraf
    networks:
      - back-tier
    volumes:
      - ./telegraf/mibs/:/usr/share/snmp/mibs/
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf
    ports:
      - 9126:9126
    command: telegraf --config /etc/telegraf/telegraf.conf

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    command: --config.file=/etc/prometheus/prometheus.yml
    networks:
      - back-tier
    restart: always
    ports:
      - 9090:9090
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    hostname: grafana
    networks:
      - back-tier
      - front-tier
    restart: always
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
  json-metric-exporter:
    image: json_exporter:latest
    container_name: json-metric-exporter
    hostname: json-metric-exporter
    restart: always
    networks:
      - back-tier
    volumes:
      - ./json_exporter/json/:/root/json/
    ports:
      - 9080:5000
